<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbq.user.dao.RoleMenuDao">
	<resultMap id="roleMenuResultMap" type="role_menu">
		<result column="id" property="id"/>
		<result column="role_id" property="roleId"/>
		<result column="menu_id" property="menuId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<sql id="all_column">
		id,role_id,menu_id,create_time,update_time
	</sql>

	<insert id="insertRoleMenu">
		insert into role_menu(role_id, menu_id)
		values (#{roleId},#{menuId})
	</insert>

	<select id="getRoleMenuByRoleId" parameterType="int" resultMap="roleMenuResultMap">
		select
		<include refid="all_column"/>
		from role_menu
		where role_id=#{roleId}
	</select>
</mapper>